<div class="page-header">
 <%= link_to 'New Task', new_task_path, class: "btn btn-info pull-right col-sm-2" %>
 <div class = " col-md-2 pull-right">
   <%= link_to 'All', tasks_path(status: "Complete" ) %>
   |
   <%= link_to 'Incomplete', tasks_path(status: "Incomplete") %>
 </div>
<h1>Tasks</h1>

</div>


<table class="table">
  <thead>
    <tr>
        <th>
          <h4>Description</h4>
        </th>
        <th>
          <h4>Complete</h4>
        </th>
    </tr>
  </thead>


  <tbody>
      <% @tasks.each do |task| %>
      <tr>
        <td class = "col-md-2"><%= task.description %></td>
        <td class = "col-md-2"><%= task.completed %></td>
        <td class = "pull-right"><%= link_to 'Show', task, class: "btn btn-success" %>
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
        <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<br>
