<% if notice %>
  <div class="alert alert-success text-center" role="alert">
    <p style = "color: green" id="notice"><%= notice %></p>
  </div>
<%end%>

<br>
<p>
  <strong>Description:</strong>
  <strong><%= @task.description %></strong>
</p>

<p>
  <strong>Completed:</strong>
  <strong><%= @task.completed %></strong>
</p>

<p>
  <strong>Due Date:</strong>
  <strong><%= @task.due_date %></strong>
</p>

<%= link_to 'Edit', edit_project_task_path(@project, @task) %> |
<%= link_to 'Back', project_tasks_path(@project) %>
