<% if notice %>
  <div class="alert alert-success text-center" role="alert">
    <p style = "color: green" id="notice"><%= notice %></p>
  </div>
<% end %>

<br>

<div>
  <div>
    <%= link_to 'Delete', @project , method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-danger pull-right project-button" %>
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-info pull-right project-button" %>
  </div>
  <h1><%= @project.name %></h1><br>
  <ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>
  </ol>
  <%= link_to "#{@project.tasks.count} Tasks", project_tasks_path(@project), class: "pull-left"%><br><br>
  <%= link_to "#{@project.memberships.count} Members", project_memberships_path(@project), class: "pull-left"%>
</div>
